<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <div class="header-logo">
      <%= link_to("Tweetapp", "/") %>
    </div>
    <ul class="header-menus">
         <% if session[:user_id] %>
          <li>
            アカウント名:
            <!-- コードを追加し、ログイン中のユーザーのidを表示してください -->
            <%= session[:user_id] %>
          </li>
      <li>
       <%= link_to("投稿一覧", "/posts/index") %>
      </li>
      <li>
       <%= link_to("新規投稿", "/posts/new") %>
      </li>
      <li>
        <%= link_to("ユーザー一覧", "/users/index") %>
      </li>
      <li>
        <%= link_to("ログアウト", "/logout"), {turbo_method: post} %>
      </li>
       <% else %>
            <li>
       <%= link_to("TweetAppとは", "/about") %>
      </li>
      <li>
        <%= link_to("ログイン","/login") %>
      </li>
      <li>
        <%= link_to("新規登録", "/signup") %>
      </li>
    </ul>
    <% end %>
  </header>
  
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

  <body>
    <%= yield %>
  </body>
</html>
